* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(228, 92, 228), rgb(38, 125, 197));
    color: #fff;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
}

img {
    max-width: 100%;
}

header {
    margin: 50px;
    margin-bottom: 0;
}

section {
    margin: 80px 50px;
    /* text-align: center; */
}

header h1,
section h2 {
    text-align: center;
}

.flex {
    display: flex;
}

.width-22,
.width-32 {
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #241a1a;
    color: #ddd;
    background-image: linear-gradient(rgb(57, 16, 206), rgb(140, 33, 167));
}

.width-22 {
    width: 22%;
    margin-right: 4%;
}

.width-22:last-child,
.width-33:last-child {
    margin-right: 0;
}

.relative-img,
.absolute-img,
.sticky-img,
.fixed-img {
    border: 1px dashed #fff;
    padding: 10px;
}

.relative img {
    position: relative;
    left: 20px;
}

.absolute {
    position: relative;
}

.absolute img {
    position: absolute;
    width: 50%;
    left: 0;
    top: 200px;

}


.sticky img {
    position: sticky;
    top: 0;
}

.fixed img {
    width: 100px;

}

.fixed img {
    position: fixed;
    top: 50%;
    right: 0;
}

.table-container {
    justify-content: center;

}

table {
    text-align: center;
    border-collapse: collapse;
    background-image: linear-gradient(rgb(94, 94, 163), rgb(92, 165, 184));
}

th,
td {
    border: 1px solid #fff;
    padding: 10px;
}

.semantic-tags-area {
    background-image: linear-gradient(rgb(68, 175, 68), rgb(71, 71, 185));
    padding: 100px;
    border-radius: 50px;
}

.video-container {
    justify-content: center;
}

.animation-area {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.cricket,
.bounce {
    width: 700px;
    height: 400px;
    border: 1px dashed #fff;
    position: relative;
}

.cricket h4 {
    text-align: center;
}

.bat {
    position: absolute;
    left: 100px;
    top: 10px;
    transform: rotate(60deg);
    transform-origin: top right;
    transition: transform 0.2s ease-in;
}

.cricket:hover .bat {
    transform: rotate(-20deg);
}

.bat img {
    height: 350px;
}

.ball {
    position: absolute;
    bottom: 90px;
    left: 230px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: linear-gradient(#e34b4b, #696a61);
    box-shadow: 0 0 10px #e34b4b;
    transition: transform 0.2s ease-out 0.25s;
}

.cricket:hover .ball {
    transform: translate(400px, -30px);
}

@keyframes bounceingBall {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: calc(100% - 30px);
        left: 25%;
    }

    50% {
        top: 0;
        left: 50%;
    }

    75% {
        top: calc(100% - 30px);
        left: 75%
    }

    100% {
        top: 0;
        left: calc(100% - 30px);
    }
}

.ball-2 {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: linear-gradient(#e34b4b, #696a61);
    box-shadow: 0 0 10px #e34b4b;
    animation: bounceingBall 2s linear 0.1s infinite alternate;
    animation-play-state: running;
}